{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "blog/login-register.css" %}">
{% endblock %}
<html>

<div class="login-page wrapper">
    <div class="form">
    <form method="POST" action="{% url "user-login-page" %}" autocomplete="off" class="login-form">

        {% csrf_token %}
        
        {% for form_field in loginform %}
      <div class="form-control {% if form_field.errors %} invalid {% endif %}">
        {{ form_field.label_tag }}
        {{ form_field }}
        {{ form_field.errors }}
      </div>
    {% endfor %}

        <button>login</button>
        <p class="message">Not registered? <a href="{% url "register-page" %}">Create an account</a></p>
        

    </form>
</div>
</div>




</html>